.center-el{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.main-img{
    width: 100%;
    height: 100%;
}

.col-circle{
    height: 299px;
}

//================transportista Clases===================

.p-transportista{
    position: relative;
    top: 45px;
    left: 45px;
    width: 200px;
    text-align: justify;
    color: #0354be;
}

.transportista {  
    width: 299px;
    height: 299px;
    background: url("../../../../assets/images/transporter.png");
    background-size: contain;
    transition: 0.4s;
}
.transportista:hover {
    background: url("../../../../assets/images/transporterhover.png");
    transition: 0.4s;
    cursor: pointer;
}

.transportistaclick{  
    position: relative;
    bottom: 200px; 
    width: 299px;
    height: 299px;
    background: url("../../../../assets/images/transporterclick.png");
    background-size: contain;
    transition: 0.4s;
}

.transportista-detail{ 
    position: relative;
    top: 50px;
    right: 250px;     
    width: 300px;
    height: 200px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background: #c5e0ff;    
}

.btn-transportista{
    position: relative;
    top: 100px;
    left: 60px;
    border-radius: 40px;
    font-size: 20px;
    color: #0354be;
    font-weight: bold;
}

//===============================================



//================promotor Clases===================

.p-promotor{
    position: relative;
    top: 45px;
    left: 50px;
    width: 220px;
    text-align: start;
    color: #0354be;
}

.promotor {
    width: 299px;
    height: 299px;
    background: url("../../../../assets/images/promotor.png");
    background-size: contain;
    transition: 0.4s;
}

.promotor:hover {
    background: url("../../../../assets/images/promotorhover.png");
    transition: 0.4s;
    cursor: pointer;
}

.promotorclick{
    position: relative;
    bottom: 200px; 
    width: 299px;
    height: 299px;
    background: url("../../../../assets/images/promotorclick.png");
    background-size: contain;
    transition: 0.4s;
}

.promotor-detail{ 
    position: relative;
    top: 50px;
    left: 250px;     
    width: 300px;
    height: 200px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background: #c5e0ff;    
}

.btn-promotor{
    position: relative;
    top: 100px; 
    right: 60px;   
    border-radius: 40px;
    font-size: 20px;
    color: #0354be;
    font-weight: bold;
}

//===============================================


.square{
    width: 100%;
    height: 800px;
    background: transparent;
    overflow: hidden;      
  }
  
  .square img{
    width: 100%;
    height: auto;
    
  }
  @supports(object-fit: cover){
      .square img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }



//===================Responsive==========================

@media screen and (max-width:991px) {

    .p-transportista{
        position: relative;
        top: 80px;
        left: 15px;
        width: 200px;
        text-align: justify;
        color: #0354be;
    }

    .transportistaclick{  
        position: relative;
        bottom: 300px;       
    }

    .transportista-detail{ 
        position: relative;
        top: 220px;
        right: 0; 
        left: 35px;    
        width: 230px;
        height: 300px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        background: #c5e0ff; 
        backdrop-filter: black;      
    }
    
    .btn-transportista{
        position: relative;
        top: 100px;
        left: 0px;
        border-radius: 40px;
        font-size: 20px;
        color: #0354be;
        font-weight: bold;
    }
    

    .p-promotor{
        position: relative;
        top: 80px;
        left: 15px;
        width: 200px;
        text-align: justify;
        color: #0354be;
    }

    .promotorclick{  
        position: relative;
        bottom: 300px;       
    }

    .promotor-detail{ 
        position: relative;
        top: 220px;
        right: 0; 
        left: 35px;    
        width: 230px;
        height: 300px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        background: #c5e0ff; 
        backdrop-filter: black;       
    }
    
    .btn-promotor{
        position: relative;
        top: 100px;
        left: 0px;
        border-radius: 40px;
        font-size: 20px;
        color: #0354be;
        font-weight: bold;
    }

}





