<div class="main" (window:resize)="onResize($event)">
    <h1  class="text-center text-light p-3 pt-4">Nuestros Clientes Hablan por Nosotros</h1>

    <swiper    
    class="p-swipper"
    [config]="config"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    
  >
    <ng-template  *ngFor="let c of comments" swiperSlide>
        <div style="cursor: grab;" class="card p-3">
            <table>
                <tr>
                    <td class="d-flex justify-content-center align-items-center">
                        <div class="avatar">
                            <img [src]="c.img" alt="person">
                        </div>
                    </td>
                    <td style="text-align: start;">
                       <h6 class="text-blue">{{c.name}}</h6> 
                    </td>
                </tr>                
            </table>

            <div class="text-center p-3 pt-4">
                "{{c.comment}}"
            </div>
        </div>
    </ng-template>
    
  </swiper>
</div>

