<div class="card-form shadow animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h1>Registro de Empresa</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
            <h5 class="text-blue pt-3">Papeles del Vehículo</h5>
        </div>
    </div>
    <hr style="color: rgb(173, 173, 173);">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Revisión Técnica</label>
                <div class="mb-3">
                    <div class="container-file">
                        <div class="row">
                            <div class="col-9">
                                <label class="form-label light-gray-text">Ingrese el documento</label>
                            </div>
                            <div class="col-3">
                                <div class="custom-input-file">
                                    <input type="file" class="input-file">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Fecha del recordatorio</label>
                <input type="date" class="form-control ps-2 mudy-input-outline">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Revisión de Gases</label>
                <div class="mb-3">
                    <div class="container-file">
                        <div class="row">
                            <div class="col-9">
                                <label class="form-label light-gray-text">Ingrese el documento</label>
                            </div>
                            <div class="col-3">
                                <div class="custom-input-file">
                                    <input type="file" class="input-file">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Fecha del recordatorio</label>
                <input type="date" class="form-control ps-2 mudy-input-outline">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Permiso de circulación</label>
                <div class="mb-3">
                    <div class="container-file">
                        <div class="row">
                            <div class="col-9">
                                <label class="form-label light-gray-text">Ingrese el documento</label>
                            </div>
                            <div class="col-3">
                                <div class="custom-input-file">
                                    <input type="file" class="input-file">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Fecha del recordatorio</label>
                <input type="date" class="form-control ps-2 mudy-input-outline">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">SOAP</label>
                <div class="mb-3">
                    <div class="container-file">
                        <div class="row">
                            <div class="col-9">
                                <label class="form-label light-gray-text">Ingrese el documento</label>
                            </div>
                            <div class="col-3">
                                <div class="custom-input-file">
                                    <input type="file" class="input-file">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Fecha del recordatorio</label>
                <input type="date" class="form-control ps-2 mudy-input-outline">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Padrón</label>
                <div class="mb-3">
                    <div class="container-file">
                        <div class="row">
                            <div class="col-9">
                                <label class="form-label light-gray-text">Ingrese el documento</label>
                            </div>
                            <div class="col-3">
                                <div class="custom-input-file">
                                    <input type="file" class="input-file">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       
    </div>

    <div class="row py-3">
        <div class="col-6 text-end">
            <button (click)="back()" class="btn btn-secondary mudy-btn p-2"><span class="px-4">Atrás</span></button>
        </div>
        <div class="col-6">
            <button (click)="next()" class="btn btn-blue mudy-btn p-2"><span class="px-4">Siguiente</span></button>
        </div>
    </div>
</div>