.light-gray-text {
    color: rgb(190, 190, 190);
}

.square {
    width: 35px;
    height: 35px;
    background: transparent;
    overflow: hidden;
}

.square img {
    width: 100%;
    height: auto;

}

@supports(object-fit: cover) {
    .square img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}