<div class="main-container">


    <app-personal-info *ngIf="step$.value == 1"></app-personal-info>   
    <app-origin-address *ngIf="step$.value == 2"></app-origin-address>
    <app-to-address *ngIf="step$.value == 3"></app-to-address>
    <app-inventory-flete *ngIf="step$.value == 4 && serviceType == 'flete'"></app-inventory-flete>
    <app-inventory-mudanza *ngIf="step$.value == 4 && serviceType == 'mudanza'"></app-inventory-mudanza>
    <app-resume-mudanza *ngIf="step$.value == 5 && serviceType == 'mudanza'"></app-resume-mudanza>
    <app-resume-flete *ngIf="step$.value == 5 && serviceType == 'flete'"></app-resume-flete>
</div>
