<!--====================Botón de WhatsApp====================-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.link/i4g1sb" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
<!--==========================================================-->


<!--====================Página de Inicio====================-->
<div class="animate__animated animate__fadeIn">   
    <app-hero></app-hero>
    <app-best-services id="services"></app-best-services>
    <app-we-are-mudy></app-we-are-mudy>
    <app-interest></app-interest>
    <app-clients-comments></app-clients-comments>
    <app-contact-us id="contact"></app-contact-us>
</div>
<!--==========================================================-->