<div class="card-form shadow animate__animated animate__fadeIn">
    <form [formGroup]="form">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h1>Registro de Promotor</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
            <h5 class="text-blue pt-3">Datos Bancarios</h5>
        </div>
    </div>
    <hr style="color: rgb(173, 173, 173);">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Banco</label>
                <select formControlName="bank_id" placeholder="Selecciona" class="form-select mudy-select">                  
                    <option *ngFor="let b of banks" [value]="b.id">{{b.name}}</option>
                </select>
                <div *ngIf="bank_id.touched" class="pt-2 text-danger">
                    <div *ngIf="bank_id.errors?.['required']">
                        Selecciona un banco.
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Tipo de Cuenta</label>
                <select formControlName="account_type" placeholder="Selecciona" class="form-select mudy-select">                  
                    <option value="SAVING">SAVING</option>
                    <option value="CHEKING">CHEKING</option>
                    <option value="OTHERS">OTHERS</option>
                </select>
                <div *ngIf="account_type.touched" class="pt-2 text-danger">
                    <div *ngIf="account_type.errors?.['required']">
                        Ingresa el tipo de cuenta.
                    </div>                   
                </div>
            </div>          
        </div>

        <div class="col-12">
            <div class="mb-3">
                <label class="form-label">Número de Cuenta</label>
                <input formControlName="account_number"  type="number" min="0" class="form-control ps-2 mudy-input" placeholder="0000 0000 0000 0000">
                <div *ngIf="account_number.touched" class="pt-2 text-danger">
                    <div *ngIf="account_number.errors?.['required']">
                        Ingresa el número de cuenta.
                    </div>                   
                </div>
            </div>          
        </div>
    
    </div>

</form>
<div class="row py-3">
    <div class="col-6 text-end">
        <button (click)="back()" class="btn btn-secondary mudy-btn p-2"><span class="px-4">Atrás</span></button>
    </div>
    <div class="col-6">
        <button (click)="next()" class="btn btn-blue mudy-btn p-2"><span class="px-4">Registrar</span></button>
    </div>
</div>
</div>


<div class="modal fade" id="dataSaved" #dataSaved tabindex="-1">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-blue">Registro Exitoso</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">        

                <p> Hemos recibido tus datos, agradecemos tu interés por ser nuestro promotor.</p>
                <p>Cada vez que nos recomiendes, debes darle tu código de referido, asi la plataforma te asignara un incentivo en dinero si ese cliente contrata y concreta los servicios de Mudy
                    Tu código de promotor es: XXXXX</p>
                <p>Te hemos enviado un correo con este código y con un par de imágenes para que puedas subir a tus redes sociales.
                    Un abrazo, bienvenido a Mudy.cl</p>
            </div>
            <div class="modal-footer d-flex justify-content-center align-items-center">
                <button type="button"  data-bs-dismiss="modal" aria-label="Close" class="btn btn-blue round-bt">Entendido</button>
            </div>
        </div>
    </div>
</div>