<div class="card-form shadow animate__animated animate__fadeIn">
 
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h1>Registro de Empresa</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 subtitle">
            <h5 class="text-blue pt-3">Datos de Empresa</h5>
        </div>
    </div>
    <hr style="color: rgb(173, 173, 173);">

    <form [formGroup]="form">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                <div class="mb-3">
                    <label class="form-label">Nombre de la empresa</label>
                    <input type="text" maxlength="100" class="form-control ps-2 mudy-input"
                        formControlName="company_name" placeholder="Nombre">

                    <div *ngIf="company_name.touched" class="pt-2 text-danger">
                        <div *ngIf="company_name.errors?.['required']">
                            Ingresa el nombre de la empresa.
                        </div>
                        <div *ngIf="company_name.errors?.['minlength']">
                            El nombre debe contener al menos 4 caracteres
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    <input type="tel" formControlName="company_phone" class="form-control ps-2 mudy-input"
                        placeholder="+56 9 4564 4565">
                    <div *ngIf="company_phone.touched" class="pt-2 text-danger">
                        <div *ngIf="company_phone.errors?.['required']">
                            Ingresa el teléfono de la empresa.
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="mb-3">
                    <label class="form-label">Rut de la empresa</label>
                    <input type="text" formControlName="company_rut" (change)="validateRut()"
                    [ngClass]="isValidRut == 'valid' ? 'form-control ps-2 mudy-input is-valid' : 'form-control ps-2 mudy-input'"
                    maxlength="11" [dropSpecialCharacters]="true" mask="00.000.000-A" placeholder="25.203.405-7">

                <div *ngIf="company_rut.touched" class="pt-2 text-danger">
                    <div *ngIf="company_rut.errors?.['required']">
                        Ingresa tu rut.
                    </div>
                    <div *ngIf="company_rut.errors?.['minlength']">
                        Ingresa un rut válido.
                    </div>
                    <div *ngIf="isValidRut == 'invalid'">
                        Ingresa un rut válido.
                    </div>
                </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" formControlName="company_email" class="form-control ps-2 mudy-input"
                        placeholder="empresa@gmail.com">
                    <div *ngIf="company_email.touched" class="pt-2 text-danger">
                        <div *ngIf="company_email.errors?.['required']">
                            Ingresa el email de la empresa.
                        </div>
                        <div *ngIf="company_email.errors?.['email']">
                            Ingresa un email válido. Ejm: empresa@gmail.com
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label">Dirección</label>
                    <input type="text" formControlName="company_address" class="form-control ps-2 mudy-input"
                        placeholder="Santiago, Los Caobos 3454">
                    <div *ngIf="company_address.touched" class="pt-2 text-danger">
                        <div *ngIf="company_address.errors?.['required']">
                            Ingresa la dirección de la empresa.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <p class="py-3">Nota: Si usted no tiene inicio de actividad coloque sus datos personales</p>


    <div class="row py-3">
        <div class="col-6 text-end">
            <button (click)="cancel()" class="btn btn-secondary mudy-btn p-2"><span
                    class="px-4">Cancelar</span></button>
        </div>
        <div class="col-6">
            <button [disabled]="form.invalid" (click)="next()" class="btn btn-blue mudy-btn p-2"><span class="px-4">Siguiente</span></button>
        </div>
    </div>
</div>