<div class="modal-dialog">
        
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-blue">Registro Exitoso</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
            <form action="" method="post">
                <div >
                    <input type="hidden" name="token_ws" value=""/>
                </div>
            </form>
        </div>
        <div class="modal-footer d-flex justify-content-center align-items-center">
            <div class="row d-flex justify-content-center">
                


                <div class="col-12">
                    <div class="col-12">
                        <button type="submit"  class="btn btn-blue mudy-btn p-2"><span
                                class="px-4">Pagar</span>
                        </button>
                        
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
