<h1  class="text-center p-3 title">Los Mejores Servicios</h1>

<div class="row">
  
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="blue-square d-flex justify-content-center align-items-center">
                        <div>
                         <h3>Mudanzas</h3>
                        <h4>Mini Mudanzas</h4>   
                        </div>
                        
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="black-square">
                        Nuestra experiencia nos avala, cotiza con nosotros y descansa. Tu mudanza segura en nuestras
                        manos.
                        <div style="padding-top: 20px;text-align: end;font-weight: bold;cursor: pointer;">Cotización
                            Web ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="square">
            <img style="width: 100%;" src="../../../assets/images/1.png" alt="1">
        </div>

    </div>
    
</div>


<div class="row pt-2">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="square">
            <img style="width: 100%;" src="../../../assets/images/3.png" alt="1">
        </div>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="blue-square d-flex justify-content-center align-items-center">
                        <h3>Flete 
                           Express <br>
                           Encomiendas
                        </h3>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="black-square">
                        Ponemos a tu disposición el servicio de Flete Express, para que puedas trasladar tus cosas de forma rápida y segura.
                        <div style="padding-top: 20px;text-align: end;font-weight: bold;cursor: pointer;">Servicio Express ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

<div class="row pt-2">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="blue-square d-flex justify-content-center align-items-center">
                        <h3>Logística <br>
                            General / Frío
                        </h3>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="black-square">
                        Contamos con una logística y una red de transportes asociados para adaptarnos a la medida de tu empresa.
                        <div style="padding-top: 20px;text-align: end;font-weight: bold;cursor: pointer;"><a href="#contact">Contáctanos ></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="square">
            <img style="width: 100%;" src="../../../assets/images/2.png" alt="1">
        </div>

    </div>
   
</div>



