<h1  class="text-center title p-3 pt-5 pb-2">Esto te puede interesar</h1>
<div class="container pb-4 d-flex justify-content-center align-items-center">
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-4">
        <div class="card d-flex justify-content-center align-items-center text-center">
            <div>
                <img style="width: 90%;" src="../../../assets/images/muysimple.png" alt="">
            
            <p>Página web donde podrás tramitar tu permiso de mudanza sin hacer ninguna fila, todo desde tu escritorio.</p>

            <a href="https://www.muysimple.cl/" target="_blank">Muysimple.cl</a>
        </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-4">
        <div class="card d-flex justify-content-center align-items-center text-center">

            <div>
                <img style="width: 90%;" src="../../../assets/images/notarioexpress.jpg" alt=""> 
              <p>Puedes tomar hora en cualquiera de sus notarias asociadas, y te ahorras la fila, además de muchos documentos online.</p>  
              <a href="https://www.notarioexpress.cl/" target="_blank">NotarioExpress.cl</a>
            </div>
            
        </div>
    </div>
</div>
</div>