<div class="animate__animated animate__fadeIn">

    <div class="square">
        <img src="../../../assets/images/joinus.png" alt="">
    </div>

    <div class="center-el">
        <h1>¡Se parte de <strong>MUDY.CL</strong> <br> y trabaja con nosotros!</h1>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="referral"></div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="transporter"></div>
            </div>
        </div>


    </div>

</div>