*{
    margin: 0;
    padding: 0;
}
.ws{
    font-size: 35px;
    cursor: pointer;
}
.social-icon{
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
}

.table-icon{
    padding: 10px;
    font-size: 25px;
   padding-right: 20px;
}

.container-form{
    background: white;
}

.blue-bg{
    color: white;
    background-color: #004aad;
    width: 100%;
    min-height: 400px;
}

