<h1 class="text-center title p-3 pt-5 pb-2">Contáctanos</h1>


<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12 p-3 container-form">
        <div class="row">

            <div class="col-md-6 p-2">
                <div class="mb-3">
                    <label class="form-label">Nombre y Apellido</label>
                    <input type="text" class="form-control ps-2 mudy-input" placeholder="Pedro Perez">
                </div>
                <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    <input type="tel" class="form-control ps-2 mudy-input" placeholder="+56 9 7735 6422">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control ps-2 mudy-input" placeholder="name@example.com">
                </div>
            </div>
            <div class="col-md-6 p-2">
                <div class="mb-3">
                    <label class="form-label">Como podemos ayudarte</label>
                    <textarea class="form-control ps-2 mudy-textarea" rows="7"></textarea>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary mudy-btn p-2"><span class="px-4">Enviar</span></button>
                </div>

            </div>
        </div>



    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="blue-bg">
            <div class="row p-3">
                <div class="col-md-4">
                    <h5>Contacto <br>
                        directo
                    </h5>
                </div>
                <div class="col-md-3">
                    <a href="https://wa.link/i4g1sb" target="_blank"><i class="bi bi-whatsapp ws"></i></a>
                </div>
            </div>

            <h5 class="p-3"> Redes Sociales</h5>
            <div class="p-3 pt-1">
            <a href="https://facebook.com/chilemudy" target="_blank"> <i class="bi bi-facebook social-icon"></i></a>
             <a href="https://instagram.com/mudy_cl" target="_blank"><i class="bi bi-instagram social-icon"></i></a>  
             <a href="https://twitter.com/mudycl" target="_blank"><i class="bi bi-twitter social-icon"></i></a>  
            </div>

            <div class="p-3 pt-1">

                <h5 class="py-3">Nuestra Sede</h5>
                <table>
                    <tr>
                        <td><i class="bi bi-geo-alt-fill table-icon"></i></td>
                        <td><a target="_blank"
                                href="https://www.google.com/maps/place/Av.+Apoquindo+6410,+Las+Condes,+Regi%C3%B3n+Metropolitana,+Chile/@-33.4077598,-70.5664824,17z/data=!3m1!4b1!4m5!3m4!1s0x9662cf5768db8f71:0x6068dffb764151d5!8m2!3d-33.4077598!4d-70.5642937">Apoquindo
                                6410, Las Condes, Santiago</a> </td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-telephone-fill table-icon"></i></td>
                        <td><a href="tel:56934995544">+56 9 3499 5544</a> </td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-envelope-fill table-icon"></i></td>
                        <td><a  href="mailto:hola@mudy.cl">hola@Mudy.cl</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>