<div class="card-form shadow animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h1>Registro de Empresa</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
            <h5 class="text-blue pt-3">Datos del Vehículo</h5>
        </div>
    </div>
    <hr style="color: rgb(173, 173, 173);">

    <label class="form-label pb-2 text-blue"><b>Tipo de Vehículo</b> </label>
    <br>
    <div *ngIf="vehicleTypes.length === 0" class="spinner-border" role="status"></div>       
      
    <div *ngIf="vehicleTypes.length > 0" class="row pb-2">
        <div *ngFor="let v of vehicleTypes" class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="form-check">
                <input class="form-check-input" (change)="changeVehicleType()" #ctrl="ngModel" [value]="v.id" [(ngModel)]="vehicleType" type="radio" name="flexRadioDefault">
                <label class="form-check-label">
                    {{v.name}}
                </label>
            </div>
        </div>
    </div>

    <form [formGroup]="form">

   
    <div class="row pt-3">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
            <label class="form-label">Marca</label>
            <select formControlName="vehicle_brand_id" class="form-select mudy-select" aria-label="Marca">           
                <option *ngFor="let b of brands" [value]="b.id">{{b.name}}</option>                             
            </select>
            <div *ngIf="vehicle_brand_id.touched" class="pt-2 text-danger">
                <div *ngIf="vehicle_brand_id.errors?.['required']">
                    Selecciona la marca del vehículo.
                </div>               
            </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Patente</label>
                <input formControlName="patente" type="text" class="form-control ps-2 mudy-input" placeholder="Ingresa">
                <div *ngIf="patente.touched" class="pt-2 text-danger">
                    <div *ngIf="patente.errors?.['required']">
                        Ingresa la patente del vehículo.
                    </div>               
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Modelo</label>
                <input formControlName="model" type="text" class="form-control ps-2 mudy-input" placeholder="Ingresa">
                <div *ngIf="model.touched" class="pt-2 text-danger">
                    <div *ngIf="model.errors?.['required']">
                        Ingresa el modelo del vehículo.
                    </div>               
                </div>
            </div>
            <label class="form-label">Elevador Hidráulico</label>
            <select (change)="changeHidraulic()" formControlName="hidraulic_elevator" class="form-select mudy-select" aria-label="Elevador Hidráulico">               
                <option [value]=true>Si</option>
                <option [value]=false>No</option>               
            </select>
            <div *ngIf="hidraulic_elevator.touched" class="pt-2 text-danger">
                <div *ngIf="hidraulic_elevator.errors?.['required']">
                    Indica si el vehículo tiene elevador hidráulico.
                </div>               
            </div>
        </div>
    </div>

    <label class="form-label pt-3 text-blue"><b>Medidas de la caja (mts)</b> </label>
    <div class="row pt-2">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Largo</label>
                <input formControlName="long" type="number" min="1" class="form-control ps-2 mudy-input" placeholder="Ingresa">
                <div *ngIf="long.touched" class="pt-2 text-danger">
                    <div *ngIf="long.errors?.['required']">
                        Ingresa el largo del vehículo en metros.
                    </div>               
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Ancho</label>
                <input formControlName="width" type="number" min="1" class="form-control ps-2 mudy-input" placeholder="Ingresa">
                <div *ngIf="width.touched" class="pt-2 text-danger">
                    <div *ngIf="width.errors?.['required']">
                        Ingresa el ancho del vehículo en metros.
                    </div>               
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Alto <span style="font-size: 13px;">(Tope máximo que puede trasladar)</span></label>
                <input formControlName="high" type="number" min="1" class="form-control ps-2 mudy-input" placeholder="Ingresa">
                <div *ngIf="high.touched" class="pt-2 text-danger">
                    <div *ngIf="high.errors?.['required']">
                        Ingresa la altura del vehículo en metros.
                    </div>               
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Metros Cúbicos</label>
                <input disabled type="number" min="1" [value]="metrosCubicos()" class="form-control ps-2 mudy-input" placeholder="0">
            </div>
        </div>
    </div>    

    <div class="row py-3">
        <div class="col-6 text-end">
            <button (click)="back()" class="btn btn-secondary mudy-btn p-2"><span class="px-4">Atrás</span></button>
        </div>
        <div class="col-6">
            <button (click)="next()" [disabled]="form.invalid" class="btn btn-blue mudy-btn p-2"><span class="px-4">Siguiente</span></button>
        </div>
    </div>

</form>
</div>

