<div class="card-form shadow animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h1>Registro de Empresa</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
            <h5 class="text-blue pt-3">Datos del Vehículo</h5>
        </div>
    </div>
    <hr style="color: rgb(173, 173, 173);">

    <label class="form-label pb-2">Tipo de Vehículo</label>
    <div class="row pb-2">
        <div *ngFor="let v of vehicles" class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    {{v.name}}
                </label>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Marca</label>
                <input type="text" class="form-control ps-2 mudy-input" placeholder="Ingresa">
            </div>
            <div class="mb-3">
                <label class="form-label">Patente</label>
                <input type="text" class="form-control ps-2 mudy-input" placeholder="Ingresa">
            </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Modelo</label>
                <input type="text" class="form-control ps-2 mudy-input" placeholder="Ingresa">
            </div>
            <label class="form-label">Elevador Hidráulico</label>
            <select class="form-select mudy-select" aria-label="Default select example">
                <option selected>Selecciona</option>
                <option value="1">Uno</option>
                <option value="2">Dos</option>
                <option value="3">Tres</option>
            </select>
        </div>
    </div>

    <label class="form-label pt-3"> Medidas de la caja (mts)</label>
    <div class="row pt-2">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Largo</label>
                <input type="text" class="form-control ps-2 mudy-input" placeholder="Ingresa">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Ancho</label>
                <input type="text" class="form-control ps-2 mudy-input" placeholder="Ingresa">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Alto</label>
                <input type="text" class="form-control ps-2 mudy-input" placeholder="Ingresa">
            </div>
        </div>
    </div>


    <div class="row py-3">
        <div class="col-6 text-end">
            <button (click)="back()" class="btn btn-secondary mudy-btn p-2"><span class="px-4">Atrás</span></button>
        </div>
        <div class="col-6">
            <button (click)="next()" class="btn btn-blue mudy-btn p-2"><span class="px-4">Siguiente</span></button>
        </div>
    </div>
</div>