<h5>TÉRMINOS Y CONDICIONES DE LA APLICACIÓN MUDY PARA TRANSPORTISTAS</h5>

<p> En Santiago de Chile, a 1 de enero 2020, comparece debidamente representada la sociedad GLOBAL COMMERCE CHILE SPA, rol único tributario número 76.987.081-4, por una parte y, por la otra, el usuario aceptante de las condiciones del presente contrato, cuyos datos se encuentran ingresados en el Registro de la APágina WEB www.MUDY.cl, en adelante el “TRANSPORTISTA”, quienes vienen en convenir el siguiente contrato de prestación de servicios:</p>

<h5>ANTECEDENTES</h5>

<p> GLOBAL COMMERCE CHILE SPA es una empresa debidamente constituida conforme a las leyes de la República de Chile; el objetivo de la empresa es el de prestar servicios de transporte de carga y de pasajeros, además del desarrollo, implementación y mantención de paginas, aplicaciones y sistemas para prestar apoyo a personas naturales o jurídicas que se dediquen a los mismos rubros recién mencionados. 
Para lo anterior, la empresa ha desarrollado una plataforma web y una aplicación denominada MUDY.cl, de su propiedad, cuyo objeto es la prestación de servicios de apoyo a TRANSPORTISTA, para acceder a la base de datos de clientes que, en usando la plataforma, busquen a transportistas dispuestos a satisfacer sus necesidades de trasladar objetos lícitos o personas de un punto a otro. Esto, siempre dentro de los parámetros exigidos por la legislación propia del lugar en que se presten los servicios. Esta aplicación puede ser utilizada directamente de internet (Por parte del cliente) o descargada e instalado en dispositivos móviles individuales (Para el transportista), para acceder a un mercado de clientes que, en uso de la plataforma, buscan a transportistas.</p>

<p>Al hacer uso de la plataforma, el TRANSPORTISTA acepta los presentes condiciones, de lo contrario, no podrá hacer uso del servicio, cualquier incumplimiento de los términos y condiciones podrán poner término inmediato a los servicios de forma unilateral por parte de Mudy.cl.</p>


<h5>DEL REGISTRO DE CADA TRANSPORTISTA.</h5>
<p>El transportista, al completar el registro solicitado, autoriza a GLOBAL COMMERCE CHILE SPA, para utilizar, evaluar, clasificar y sistematizar los antecedentes recabados, y así utilizarlos en actividades propias de su giro o comerciales, siempre y cuando ello no sea contrario a la legislación vigente referida a la protección de datos personales. Ley 19.628.-
El TRANSPORTISTA, de acuerdo con la normativa vigente a la época de la celebración del presente contrato, declara que viene en suscribir de forma voluntaria el presente contrato de prestación de servicios de intermediación, coordinación apoyo a servicios de transporte de objetos lícitos o pasajeros.</p>


<h5>DE LOS SERVICIOS</h5>

<p>MUDY no proporcionara ningún tipo de servicio de transporte. Los servicios de traslado de objetos lícitos o personas, son proporcionados por los TRANSPORTISTAS, que no han sido contratados bajo un vínculo de subordinación o dependencia, mediante un contrato de subcontratación ni por mandato.</p>

<h5>DE LA UTILIZACIÓN DE LOS SERVICIOS POR TRANSPORTISTA</h5>

<p>El uso de los servicios por parte de los TRANSPORTISTAS, conforme al principio de la buena fe, de acuerdo con lo estipulado en los artículos 706 y 1.546 del Código Civil chileno, les otorga un derecho limitado, no exclusivo, no cedible, revocable y no transferible, para efectos del uso de la aplicación MUDY en sus dispositivos personales.</p> 

<p>El TRANSPORTISTA reconoce y acepta que todos los daton ingresados a través de la plataforma MUDY son reales y manifiestan voluntariamente la aceptación de los presentes términos y condiciones, conforme a las reglas generales del derecho.</p>
<p>El TRANSPORTISTA declara que no autorizara a terceros ni menores de 18 años a utilizar su cuenta y declaran cumplir con la legislación laboral vigente.</p>
<p>El TRANSPORTISTA autoriza a MUDY a utilizar la información entregada a la APLICACIÓN MUDY para coordinar los servicios ofrecidos en la misma plataforma. El TRANSPORTISTA será el único responsable de cualquier tipo de daño, responsabilidad o pérdida de la carga del CLIENTE. El pago del servicio será condicionado a la aprobación del cliente.</p>
<p>Mudy podrá descontar hasta el 100% del pago del servicio en caso de comprobarse daños funcionales a los enceres del cliente o de comprobarse negligencia en el desempeño de su trabajo.</p>
<p>EL TRANSPORTISTA deberá contar con guías de despacho para el traslado de objetos, en el caso que el cliente no posea.</p> 
<p>El TRANSPORTISTA deberá también contar con un carro de carga disponible y materiales para la protección de los enceres, como film plástico, cartón o frazadas.</p>
<p>El TRANSPORTISTA será el exclusivo responsable de dar fiel cumplimiento a los requerimientos tributarios que emanen de la actividad encomendada por el cliente.</p>

<h5>DECLARACIONES DE MUDY</h5>

<p>Que la empresa, así como ninguna de sus empresas relacionadas, a través de su aplicación o software o de su página web MUDY, no proporcionará ninguna clase de servicios de transporte a los TRANSPORTISTA ni a los CLIENTES.
Que MUDY no actuará como empresa transportista, ni cuenta con vehículos de su propiedad o a cualquier título destinados a prestar dicho servicio. No prestará ni tiene la intención de prestar servicios de transportes de forma directa ni actuará de ninguna forma como transportista de cargas, pasajeros  u objetos lícitos.
Mudy presta un servicio tecnológico tanto a clientes como a TRANSPORTISTAS y a los CLIENTES, no viceversa.
MUDY no garantiza la disponibilidad de transporte a los clientes al cotizar los servicios, así como tampoco la puntualidad de los mismos, ni de ningún otro nivel de servicio relacionado con el transporte.
Ni GLOBAL COMMERCE CHILE SPA ni su APLICACIÓN MUDY serán responsables de cualquier tipo de daño, responsabilidad o pérdida de la carga por el TRANSPORTISTA.</p>
<h5>DE LA DESCRIPCIÓN DEL SERVICIO MUDY</h5>

<p>El servicio MUDY consiste en poner a disposicion una herramienta tecnológica para coordinar el traslado de objetos lícitos o pasajeros, solicitados por el CLIENTE, a través de la plataforma, a través de un formulario donde se solicitara toda la información necesaria para dar un valor al cliente, pagando el CLIENTE por el servicio de intermediación, recaudación y coordinación de MUDY y el TRANSPORTISTA.</p>

<p>Al efectuarse la SOLICITUD MUDY por el CLIENTE, la plataforma notificará al TRANSPORTISTA e informará de la tarifa al CLIENTE, quien deberá pagar una reserva. Una vez aceptada la notificación por parte del TRANSPORTISTA, éste deberá realizar el servicio en la fecha y hora indicadas.</p>

<p>El  TRANSPORTISTA, al finalizar el servicio deberá notificar a través de la alpicacion el fin del servicio y enviar una fotografía como medio de prueba.</p>

<p>2) CUENTA MUDY
Para utilizar los servicios de coordinación descritos en el presente contrato, los TRANSPORTISTAS deberán registrarse en la pagina web www.mudy.cl e ingresar todos los datos que ahí se soliciten.
De no ingresar  toda la información solicitada, o de no mantenerla actualizada, o si fuera real, Mudy podrá cancelar la suscripción de forma permanente.
Posteriormente, deberán descargar y ejecutar la aplicación MUDY para TRANSPORTISTAS para poder utilizar sus servicios.</p>

<h5> CONDUCTA DEL TRANSPORTISTA</h5>

<p> El transportista deberá siempre velar por el cuidado de las pertenencias de los clientes, si notara un daño anterior deberá notificarlo de inmediato al administradr de Mudy. El TRANSPORTISTA debe tener más de  18 años.
Los usuarios deberán contar con un teléfono móvil con acceso a internet, y mantener su sesión activa para recibir las notificaciones de servicios, para realizar el servicio y notificar cualquier novedad a MUDY.
El TRANSPORTISTA siempre debe mantener una buena actitud frente al cliente y ofrecer siempre soluciones a los problemas que puedan surgir en el proceso de prestación del servicio.
Si el cliente solicita un servicio sin ayudantes, el TRANSPORTISTA siempre deberá tener la disposición a ayudar en la carga y descarga de los elementos a transportar.
MENSAJES, CORREOS ELECTRÓNICOS Y COMUNICACIÓN</p> 

<p>El TRANSPORTISTA acepta que MUDY, al momento de crearse una CUENTA, podrá enviarle mensajes informativos, notificaciones PUSH y correos electrónicos, como parte de la actividad normal. En todo momento, los usuarios podrán solicitar la no recepción de mensajes o correos electrónicos, asumiendo que esto dará de baja su cuenta.
Si el TRANSPORTISTA no lograre contacto y/o comunicación con el destinatario, DEBE AGOTAR TODOS LO MEDIOS POSIBLE PARA COMUNICARSE CON EL CLIENTE, si no lo lograra, DEBERÁ volver al punto de origen indicado por el CLIENTE para devolverle los OBJETOS, caso en el que el cliente deberá pagar un segundo traslado.</p>

<h5> DE LA CANCELACIÓN, ANULACIÓN DE SERVICIOS Y MULTAS</h5>

<p> Si la anulación de la solicitud es efectuada por el TRANSPORTISTA, la APLICACIÓN MUDY buscará otro transportista al cliente. EL TRANSPORTISTA, al cancelar el servicio, renuncia en dicho acto a percibir la tarifa del servicio o cualquier otro monto asociado al servicio. El TRANSPORTISTA siempre tiene la opción de OMITIR o ACEPTAR la NOTIFICACIÓN MUDY. Con esta modalidad, siempre podrá OMITIR el servicio si así lo decide. </p>

<h5> DEL PAGO Y FACTURACIÓN DE LOS SERVICIO</h5>

<p>El CLIENTE pagará por los servicios el precio que se establezca al momento de la cotizacion, el que será generado por la aplicación, pagina web o equipo comercial según corresponda. Para esto se tomara en cuenta la distancia, volumen a trsaladar y otros aspectos dispuestos en la solicitud.</p> 

<p>
GLOBAL COMMERCE CHILE SPA cobrará al CLIENTE por el servicio prestado por el TRANSPORTISTA. A su vez, GLOBAL COMMERCE CHILE SPA, depositará a la cuenta proporcionada por el TRANSPORTISTA el valor ofrecido incluyendo el Impuesto al Valor Agregado, señalado explícitamente en el monto total indicado en la NOTIFICACIÓN MUDY, al momento de que el Transportista acepte un servicio.</p>

<p>
 El depósito será realizado a mas tardar 72 horas después de finalizado el servicio. GLOBAL COMMERCE CHILE SPA Emitirá una liquidación factura afecta a IVA o una Factura de compra afecta, o el documento tributario que establezca la autoridad tributaria si aquel fuere suprimido o sustituido, la que respaldará los servicios prestados por el TRANSPORTISTA, siendo este el único y exclusivo responsable de la declaración y pago de sus impuestos, ya sea Impuesto al Valor Agregado (IVA), impuestos a la renta, o cualquier otro asociado a los servicios de transporte que da cuenta el presente contrato.</p>

 <p>
Además,  será el TRANSPORTISTA responsable exclusivo de contar con giro de transporte de carga o pasajeros ante el SII. </p>


<h5> PROPIEDAD INDUSTRIAL</h5>

<p>
El TRANSPORTISTA acepta  que el sistema o plataforma es de propiedad única y exclusiva de GLOBAL COMMERCE CHILE SPA, así como su sitio web, y todo el material, textos, información, diseños, logotipos, contenido,imágenes, animaciones, video, audio y gráficos; los que se encuentran protegidos por derechos de autor, marcas de servicio, Tratados Internacionales y/u otros derechos de propiedad y las leyes de la República de Chile y otros países. El TRANSPORTISTA se obliga a respetar los derechos de propiedad industrial e intelectual indicados en la presente cláusula, observando siempre en su cumplimiento no sólo dispuesto por este contrato, sino también lo dispuesto por el artículo 1.546 del Código Civil chileno.</p>

<p>
El TRANSPORTISTA en ningún caso podrá copiar o distribuir información de propiedad de Mudy, ni aun alegando la existencia de circunstancias excepcionales.</p>

<p>
Todos los derechos presentes y futuros relacionados con la propiedad intelectual e industrial y otros derechos de propiedad de GLOBAL COMMERCE CHILE SPA de cualquier tipo bajo las leyes de cualquier autoridad gubernamental, nacional o extranjera, incluidos los derechos en y para todas las aplicaciones y registros relacionados con los servicios serán de GLOBAL COMMERCE CHILE SPA en todo momento y seguirán siendo propiedad única y exclusiva de ella.</p>

<h5>DE LAS CONDICIONES CONTRACTUALES</h5>

<p>
MUDY podrá modificar el contenido de los presentes términos y condiciones relativos los servicios cuando lo considere. Las modificaciones serán efectivas después de la publicación por parte de MUDY de dichas condiciones actualizadas sobre el servicio aplicable en la misma APLICACIÓN MUDY, ubicada en el boton “Legal” del menú. Su acceso o uso de los servicios después de dicha publicación se considerará como aceptacion de parte del TRANSPORTISTA.</p>

<h5>DEL USO DE LA INFORMACIÓN PERSONAL</h5>

<p>
La información personal que el TRANSPORTISTA ingrese al sistema de Mudy, será almacenada en los medios electrónicos pertinentes y asegurada mediante sistemas electrónicos y físicos, respondiendo MUDY a la responsabilidad que debe exigírsele a todo buen padre de familia en sus negocios ordinarios, conforme a lo dispuesto por el artículo 44 del Código Civil Chileno.</p>

<p>
La Información podrá ser objeto de: almacenamiento, procesamiento, tratamiento y disposición. Lo anterior salvo que el usuario, respecto del tratamiento y disposición, expresamente instruya lo contrario mediante comunicación escrita.</p>

<p>
Mudy podrá usar la información para cualquier fin que estime conveniente y que tenga que ver con la prestación de servicios ya descritos de manera óptima, mejoras o investigaciones de mercado. </p>
<p>
La información bancaria y financiera del TRANSPORTISTA a la que tendrá acceso MUDY en virtud de la prestación de los servicios descritos en el presente contrato, gozan de la protección de los datos personales y ni MUDY ni GLOBAL COMMERCE CHILE SPA harán uso indebido, ilícito o no autorizado de esta información. Cualquier irregularidad que el TRANSPORTISTA percibiere respecto a sus datos personales, deberá ser notificada por escrito a GLOBAL COMMERCE CHILE SPA empleando para ello el formulario de contacto de www.MUDY.cl o de las aplicaciones para dispositivos móviles dispuestas para estos efectos.</p>

<h5>PROHIBICIONES AL TRANSPORTISTA.</h5>

<p> El TRANSPORTISTA no podrá:</p>

<p>
Copiar, reproducir, recompilar, descompilar, desensamblar, realizar ingeniería inversa, distribuir, publicar, exhibir, ejecutar, modificar, cargar, crear trabajos derivados, transmitir o explotar de cualquier manera cualquier parte del servicio o la APLICACIÓN MUDY. Todos los elementos presentes en la web o app Mudy están protegidos por la ley de propiedad industrial.</p>
<p>
Utilizar los servicios descritos en el presente contrato para ofrecer sus propios servicios a un tercero o subarrendar los servicios MUDY.</p>

<p>
Intervenir la APLICACIÓN MUDY o en cualquier parte de la web o plataforma.</p>
<p>
Utilizar los servicios MUDY para fines distintos a los indicados en los presentes términos y condiciones.</p>


<h5>INTEGRIDAD DE LAS NORMAS DEL PRESENTE CONTRATO</h5>
<p>
Si cualquiera de las cláusulas antes mencionadas en el presente contrato fuese considerada ilegale o nula por la autoridad judicial y/o administrativa, tal cláusula se entenderá eliminada y no producirá sus efectos, lo que en ningún caso afectará la validez y exigibilidad del resto del contrato, el que subsistirá y será exigible con toda la fuerza obligatoria indicada por las normas generales del derecho civil chileno.</p>

<h5>COMUNICACIONES ENTRE LAS PARTES.</h5>

<p>
Toda comunicación del TRANSPORTISTA con MUDY deberá realizarse por medio de la aplicación, o por medio de un correo electrónico dirigido a hola@MUDY.cl.</p>

<h5>DECLARACIÓN SERNAC</h5>
<p>
Las partes, de conformidad a lo previsto en el artículo 16, letra f) de la Ley 19.496, dejan expresa constancia que todos los espacios en blanco, no mecanografiados contenidos en el presente contrato y sus respectivos anexos han sido debidamente llenados o inutilizados, según corresponda, antes de la aceptación, declarando por este acto ambas partes su entera conformidad con la información incorporada en dichos espacios.</p>

<h5>ACEPTACIÓN DEL PRESENTE CONTRATO</h5>

<p>
Este documento es de conocimiento de las partes y está a disposición permanente en el apartado de la aplicación móvil MUDY boton “LEGAL” ubicado en el menú de la APP MUDY TRANSPORTISTA. El uso de la APP MUDY TRANSPORTISTA, implicará que EL TRANSPORTISTA acepta lo establecido en el presente contrato, en todas sus partes.</p>
