
.size-card{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background: #e7f3ff;    
}

.trash-icon{
    font-size: 17px;
    cursor: pointer;
}

.p-btns{
    padding-top: 100px;
    padding-bottom: 20px;
}

