<div class="p-4 pt-5">
    <h3>TÉRMINOS Y CONDICIONES MUDY Chile – Usuarios Clientes</h3>

    <p>Los siguientes términos y condiciones se aplican a todos los pedidos y servicios recibidos, así como también al
        acceso y uso de los sitios web de Mudy.cl, perteneciente a la empresa Global Commerce Chile Spa, en adelante “La
        Empresa”, una sociedad por acciones constituida en conformidad a las leyes de la República de Chile, domiciliada
        en Ingeniero Roberto Llona 5418, Maipu.</p>

    <h3>Parte 1. Condiciones Generales</h3>

    <p> 1. Los presentes Términos y Condiciones" regulan el acceso y uso de los servicios de transporte disponibles en
        la página web www.mudy.cl (en adelante, la "Página Web") y de la aplicación “Mudy.cl” (en adelante, la
        “Aplicación” y en conjunto con la Página Web, la "Plataforma") que la Empresa pone a disposición de los clientes
        que requieren servicios de transporte de carga o pasajeros, en adelante, el “Usuario” o los “Usuarios”.</p>


    <p>2. La Empresa se reserva el derecho de modificar, el diseño, así como el contenido y los servicios ofrecidos en
        la página web.</p>

    <p>
        3. El usuario acepta que, por distintos motivos, es posible que se produzcan suspensiones o anomalías en la
        página web, sin embargo la empresa se esforzara siempre por mantener la continuidad en el servicio.</p>

    <p>
        4. La Empresa podrá cambiar estos Términos y Condiciones, publicándolos directamente en la web, lo que no
        afectara los compromisos ya adquiridos y los servicios contratados por los Usuarios siendo válida la versión
        vigente al momento de contratar los servicios.</p>


    <p>
        5. El Usuario, acepta de forma irrevocable y voluntaria estos términos y condiciones al momento de contratar un
        servicio en la Web. También acepta todas las condiciones técnicas y la oferta económica entregada en la
        cotización de su servicio.</p>

    <p>
        6. Los Términos y Condiciones han sido actualizados por última vez con fecha 1 de abril de 2022.</p>


    <h3> Parte 2. Servicios de la Plataforma</h3>

    <p>La plataforma tiene por objetivo ofrecer a los clientes servicios de transporte de objetos lícitos o pasajeros de
        un lugar a otro, poniendo a disposición del usuario distintas empresas de transporte, haciéndose cargo la
        plataforma de la evaluación de todas la empresas que trabajen en conjunto.
        El usuario podrá reservar un servicio con una de las empresas asociadas a la plataforma, las que podrán ser
        personas naturales o jurídicas, inscritas en la plataforma y dispuestas a prestar estos servicios.</p>

    <p>
        La plataforma hará uso de la información entregada por el usuario para hacer los cálculos que permitan entregar
        un valor para el servicio cotizado, teniendo como resultado final una cotización. Dentro de los servicios que el
        usuario podrá cotizar en la plataforma estan:</p>

    <p>
        a) Mudanza: Se entiende como “Mudanza” a cualquier servicio de traslado que implique el traslado de muebles,
        camas, colchones, cuadros, electrodomésticos y tecnología, y todo lo que se necesite para el funcionamiento
        mínimo de una casa y que supere los 8,5 metros cúbicos de volumen a trasladar. Por su parte, queda a cargo del
        Usuario el embalaje de loza, adornos, cristalería, libros, juguetes y ropa en sus cajas propias,
        responsabilizándose la Empresa transportista asociada a Mudy por traslado y la distribución (sin desembalar) en
        los puntos designados por el Usuario.</p>

    <p>
        b) Mini-Mudanza: Se entiende como “Mini-Mudanza” a cualquier servicio que implique el traslado de muebles,
        camas, colchones, cuadros, electrodomésticos y tecnología, y todo lo que se necesite para el funcionamiento
        mínimo de una casa y que NO supere los 8,5 metros cúbicos de volumen a trasladar. Por su parte, queda a cargo
        del Usuario el embalaje de loza, adornos, cristalería, libros, juguetes y ropa en sus cajas propias,
        responsabilizándose la Empresa Empresa transportista asociada a Mudy por traslado y la distribución (sin
        desembalar) en los puntos designados por el Usuario.</p>

    <p>
        c) Flete Express: Se entiende como “Flete Express” a cualquier servicio que implique el traslado de 1 a máximo 4
        muebles, materiales de construcción, y cualquier otro tipo de carga licita.</p>

    <p>
        d) Traslado de encomiendas: Corresponde al traslado de cualquier objeto licito, pequeño, embalado por el cliente
        y que pueda ser trasladado de un punto a otro cómodamente en una motocicleta o auto.</p>

    <p>
        e) Traslado de pasajeros: Corresponde al traslado de personas, en vehículos habilitados para ese propósito de un
        punto a otro.</p>

    <p>
        El Usuario, al recibir su cotización, no se encuentra obligado a aceptar la cotización de ninguno de los
        servicios ofrecidos por Mudy.cl.</p>

    <p> Los productos que pueden ser objeto de los Servicios de la plataforma deben ser lícitos, quedando prohibidos los
        siguientes productos:</p>

    <p> a) Animales.</p>
    <p> b) Objetos peligrosos, tóxicos, inflamables, explosivos o corrosivos.</p>
    <p> c) Drogas.</p>
    <p> d) Objetos que exijan de un permiso adicional de la autoridad competente para ser transportados.</p>
    <p> e) Objetos no licitos.</p>


    <p> No son parte del servicio básico:</p>

    <p> a) El embalaje / desembalaje de los objetos.</p>
    <p> b) La instalación o desinstalación de los objetos.</p>
    <p> c) Movimiento de objetos por escaleras, a no ser que la cotización así lo indique.</p>


    <h3>Parte 3. Pago de reserva</h3>

    <p> Para completar el proceso de cotización y contrato del servicio, el Usuario pagará una reserva del servicio (Que
        variara dependiendo del tipo de servicio contratado) y la plataforma le informará por medio de un correo
        electrónico, mensaje o cualquier otro medio que estime conveniente, todos los datos técnicos contratados además
        de la información de la empresa transportista asociada que efectuara el servicio. El usuario, al pagar la
        reserva, autoriza a la plataforma a entregar sus datos a la empresa transportista asignada.</p>
    <p>
        El Usuario se compromete a informar a la plataforma acerca de cualquier irregularidad en el desarrollo de su
        traslado.La plataforma no será responsable por los trabajos realizados por la empresa asociada ni puede
        responder por el profesionalismo de la misma, sin embargo, el objetivo de la plataforma es velar por el
        cumplimiento de los servicios contratados. </p>


    <h3>Parte 4. Disponibilidad de Servicio y reembolsos</h3>

    <p> Son las empresas asociadas las que tienen la responsabilidad de confirmar la disponibilidad de efectuar los
        servicios en el día y la hora pactados con el usuario, Mudy,
        en caso de no contar con disponibilidad para efectuar el servicio, informara al usuario con al menos 48 horas de
        anticipación y reembolsará la totalidad del valor pagado por el Usuario en la reserva.
        La plataforma no se hace responsable de los perjuicios que esta cancelación pueda causar al Usuario.</p>

    <p> En caso de solicitud de cambio de fecha de traslado, para servicios dentro de la misma región el plazo es de 48
        horas hábiles antes de la fecha del servicio y de 72 horas hábiles para servicios entre regiones, quedando
        sujeto a la disponibilidad de las Empresas asociadas a la plataforma.</p>

    <p> La reserva que ha sido pagada por el Usuario podrá dejarse sin efecto solamente ante un aviso por correo
        electrónico del mismo Usuario a Mudy.cl (hola@Mudy.cl), para servicios dentro de la misma región el plazo es de
        48 horas hábiles antes de la fecha del servicio y de 72 horas hábiles para servicios entre regiones. En caso
        contrario, no se realizará el reembolso.</p>

    <p>Mudy.cl contará con un plazo máximo de 7 días hábiles para reembolsar al cliente.</p>

    <h3> Parte 5. Daños</h3>
    <p>
        La plataforma no ejecutará ningún servicio de transporta, son las empresas asociadas la que serán responsables
        por cualquier daño o perjucio ocurrido durante la ejecución de su servicio, por lo tanto, Mudy excluye, con toda
        la extensión permitida por el ordenamiento jurídico, cualquier responsabilidad por los daños y perjuicios de
        toda naturaleza que puedan deberse a la ejecución o resultado del trabajo encomendado a la Empresa transportista
        asociada.</p>

    <p>
        Al aceptar estos términos y condiciones, el Usuario expresamente exime a Mudy.cl de cualquier discrepancia,
        responsabilidad, daño, perjuicio o menoscabo como resultado de la contratación o del trabajo realizado por la
        Empresa de transporte asociada.</p>

    <p> Sin perjuicio de lo anterior, Mudy.cl podrá, voluntariamente, responder al Usuario ante pérdidas o daños a los
        bienes transportados según las siguientes condiciones:</p>

    <p>
        a) Si la pérdida o daño a la propiedad es informada por el Usuario a Mudy.cl en un plazo máximo de 1 (un) día
        corrido desde la fecha de ejecución del servicio programada del servicio vía correo electrónico a hola@Mudy.cl.
    </p>
    <p>
        b) Cualquier reembolso Por un monto máximo equivalente al valor total del servicio.</p>

    <p>
        c) Los daños a los bienes transportados deben ser funcionales y no meramente estéticos, el usuario deberá
        presentar pruebas del daño.</p>
    <p>
        d) Los bienes dañados deben haber sido declarados por el Usuario en el inventario a transportar por Mudy.cl.</p>



    <h3> Parte 6. Costos Adicionales de Mudanza y pago final.</h3>

    <p> Cualquier información faltante o errónea, que lleve a cálculos incorrectos o aspecto técnicos erróneos en la
        cotización del servicio, deben ser asumidos por el usuario en favor de la empresa transportista asociada o
        directamente de la plataforma.
        El pago final del servicio, podrá ser a través de la misma plataforma o directamente a la empresa transportista,
        antes de que esta se retire del lugar de destino.</p>



    <h5> VIGÉSIMO: Daños o pérdidas durante el servicio Mudy.cl</h5>

    <p> Mudy.cl no controlará ni intervendrá en la ejecución de los trabajos por la Empresa, ni en la adecuación,
        calidad o
        resultado de los mismos. Por lo anterior, Mudy.cl no será responsable ante el Usuario de eventuales daños que se
        produzcan con ocasión del servicio prestado por la Empresa.</p>

    <h3>Parte 7. Obligaciones del Usuario</h3>

    <p> El cliente se obliga a:</p>

    <p>El cliente se compromete a tramitar el salvoconducto en Notaria o similar para la ejecución del servicio sin
        riesgos.</p>

    <p>Asegurar un estacionamiento seguro para el camión, si es necesario conseguir el permiso municipal
        correspondiente.</p>

    <p>Cualquier gasto necesario para estacionamiento será de cargo del Cliente.</p>

    <p> Tramitar las autorizaciones correspondientes en el edificio o condominio para evitar restricciones en la salida.
    </p>

    <p>Tener embalados todos sus enceres (En caso de no tomar servicio de embalaje) guardado y sellado en cajas
        resistentes, de tal forma que no queden elementos menores sueltos.</p>

    <p> Realizar el pago final del servicio previo al retiro del transporte, con este pago se da por entendido que esta
        de acuerdo con el servicio prestado, sin embargo, tendrá un plazo de 24 horas para efectuar cualquier reclamo.
    </p>

    <p> De no cumplir el Usuario con estas obligaciones, perderá el derecho a reclamar cualquier anomalía relacionada
        con deterioros o perdidas de objetos trasladados.</p>

    <p> El Usuario se compromete a hacer un uso diligente de la Página Web y de los servicios accesibles desde el mismo,
        con total sujeción a la ley, a las buenas costumbres y los presentes Términos y Condiciones, así como
        manteniendo el debido respeto a los demás Usuarios. Queda expresamente prohibido cualquier uso diferente a la
        finalidad de esta Página Web. En este sentido, el Usuario renuncia a utilizar cualquiera de los materiales e
        informaciones contenidos en la Página Web con fines ilícitos y expresamente prohibidos en las presentes Términos
        y Condiciones.</p>

    <p> Toda la información que facilite el Usuario a través de la Página Web deberá ser veraz y exacta. El Usuario
        garantiza la autenticidad de todos aquellos datos que comunique como consecuencia del rellenado de los
        formularios necesarios para la suscripción de los servicios a través de la Página Web.</p>

  <p>  Toda información o contenido que el Usuario publique en la Página Web de Mudy.cl deberá ser legal y veraz y no  susceptible de vulnerar derechos de terceros ni la normativa vigente. A estos efectos el Usuario garantiza la
    autenticidad de toda la información publicada en la Página Web. El Usuario no debe en ningún caso subir información
    privada de terceros, incluyendo, entre otra, imágenes, dirección postal, número de teléfono, dirección de correo
    electrónico, entre otros. </p>
    
 <p>  El Usuario se obliga a no utilizar la Plataforma para obtener códigos fuente o cualquier
    otro dato esencial para el funcionamiento de la Plataforma, como tampoco realizará actos de ingeniería inversa o
    cualquier otro que tenga como fin modificar, sustraer, añadir o descompilar la aplicación o sitio web.</p> 

  <h3>  Parte 8. Edad y Capacidad Legal</h3>

  <p>  La Plataforma se dirige a personas mayores de edad que cuenten con plena capacidad jurídica y de obrar necesaria
    para su utilización. Los menores de esta edad no están autorizados a utilizar la Página Web y no deberán, por tanto,
    utilizar los servicios del mismo, por lo que Mudy.cl se reserva el derecho a dar de baja y cancelar los datos de
    aquellos Usuarios que, habiendo sido requeridos para ello, no acrediten a satisfacción de Mudy.cl ser mayores de
    edad.</p>

   <h3> Parte 9. Responsabilidad y Difusión de Contenidos, Datos y/o información de Usuarios</h3>

   <p> Mudy.cl no tiene la obligación de verificar la identidad de los Usuarios, ni la veracidad, vigencia, exhaustividad
    y/o autenticidad de los datos que proporcionan sobre sí mismos en la Plataforma.</p>


   <p> El usuario acepta y autoriza, al ingresar la información personal a la plataforma, el uso y recopilación de esta,
    cumpliendo Mudy.cl con toda la legislación vigente en relación a esta materia, especialmente en lo relativo a la
    protección de los datos personales asociados a la información bancaria o financiera del Usuario con motivo del pago
    de los Servicios.</p>

   <p> La información personal del Usuario que sea almacenada por Mudy.cl en los servidores u otros medios electrónicos
    será resguardada por medio de sistemas de seguridad electrónicos y físicos, con estándares razonables de seguridad,
    respondiendo Mudy.cl, de acuerdo al artículo 44 del Código Civil, de la responsabilidad que debe exigírsele a todo
    buen padre de familia en sus negocios ordinarios.</p>

   <h3> Parte 10. Derechos de Propiedad Intelectual e Industrial</h3>

  <p>  El Usuario acepta que el sistema o plataforma es de propiedad única y exclusiva de GLOBAL COMMERCE CHILE SPA, así
    como su sitio web, y todo el material, textos, información, diseños, logotipos, contenido, imágenes, animaciones,
    video, audio y gráficos; los que se encuentran protegidos por derechos de autor, marcas de servicio, Tratados
    Internacionales y/u otros derechos de propiedad y las leyes de la República de Chile y otros países. </p>
    
   <p>El Usuario se
    obliga a respetar los derechos de propiedad industrial e intelectual indicados en la presente cláusula, observando
    siempre en su cumplimiento no sólo dispuesto por este contrato, sino también lo dispuesto por el artículo 1.546 del
    Código Civil chileno.</p> 

  <p>  El Usuario en ningún caso podrá copiar o distribuir información de propiedad de Mudy, ni aun alegando la existencia
    de circunstancias excepcionales.</p>

  <p> Todos los derechos presentes y futuros relacionados con la propiedad intelectual e industrial y otros derechos de
    propiedad de GLOBAL COMMERCE CHILE SPA de cualquier tipo bajo las leyes de cualquier autoridad gubernamental,
    nacional o extranjera, incluidos los derechos en y para todas las aplicaciones y registros relacionados con los
    servicios serán de GLOBAL COMMERCE CHILE SPA en todo momento y seguirán siendo propiedad única y exclusiva de ella.</p> 

  <h3> Parte 11. Legislación Aplicable y Jurisdicción</h3>
  <p> Las presentes Términos y Condiciones de Mudy.cl se regirán por la legislación chilena. Cualquier duda, dificultad,
    controversia, divergencia y/o reclamación que diga relación con el cumplimiento, aplicación y/o interpretación de
    los presentes Términos y Condiciones será conocida por los Tribunales Ordinarios de Justicia.</p> 

</div>