<div class="card-form shadow animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h1>Cotización de Mudanza</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
            <h5 class="text-blue pt-3">Inventario</h5>
        </div>
    </div>
    <hr style="color: rgb(173, 173, 173);">

    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Habitaciones</label>
                <input type="number" min="1" max="10" value="1" class="form-control ps-2 mudy-input" placeholder="1">
            </div>
            <div class="mb-3">
                <label class="form-label">Baños</label>
                <input type="number" min="1" max="10" value="1" class="form-control ps-2 mudy-input" placeholder="1">
            </div>


            <div class="row">
                <div  *ngFor="let r of rooms" class="col-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                            {{r}}
                        </label>
                    </div>
                </div>
            </div>
            

        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-12">

            <div class="row">
                <div (click)="openRoomModal()" *ngFor="let item of [1,1,1,1]" class="col-6 p-2 click">
                    <div class="card room-card"></div>
                </div>
            </div>

        </div>

    </div>
  

    <div class="row py-3">
        <div class="col-6 text-end">
            <button (click)="back()" class="btn btn-secondary mudy-btn p-2"><span class="px-4">Atrás</span></button>
        </div>
        <div class="col-6">
            <button (click)="next()" class="btn btn-blue mudy-btn p-2"><span class="px-4">Siguiente</span></button>
        </div>
    </div>
</div>
  <app-room-modal *ngIf="roomModalOpened" ></app-room-modal>
