<div class="modal-dialog">
        
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-blue">Registro Exitoso</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
            <p>Hemos recibido tus datos, nuestro equipo técnico los evaluará y seras activado en la plataforma lo
                antes
                posible.</p>
            <p>Ahora debes descargar la aplicación MudyApp e instalarla en tu celular para que puedas acceder a los
                servicios de Mudy.cl.</p>
            <p>Te hemos enviado un correo con los Términos y Condiciones, además de las instrucciones de uso de la
                aplicación.
                Bienvenido a MudyApp!</p>
        </div>
        <div class="modal-footer d-flex justify-content-center align-items-center">
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <button class="btn btn-outline-dark btn-icon-text"> <i
                            class="fa fa-apple text-blue icon-apps"></i> <span
                            class="d-inline-block text-left"> <small class="font-weight-light d-block">Disponible en</small>
                                 App Store </span> </button>
                </div>


                <div class="col-6">
                    <button class="btn btn-outline-dark btn-icon-text"> <i
                            class="fa fa-android text-blue icon-apps"></i> <span
                            class="d-inline-block text-left"> <small class="font-weight-light d-block">Disponible en</small> Google Play </span> </button>

                </div>

            </div>
        </div>
    </div>
</div>