<h1 class="text-center p-3 title">Somos MUDY.CL</h1>


<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <img src="../../../assets/images/5.png" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-blue d-flex justify-content-center align-items-center">
        <div class="p-3 ps-4">
            <h2 style="font-weight: 400;">Buscando</h2>
            <h2>La Excelencia</h2>

            <span class="text-dark">


                <p class="pt-4 pe-5" style="text-align: justify;">
                    <strong>Mudy.cl </strong> nace de la integración de varias empresas asociadas del rubro de mudanzas,
                    logística y transporte, atendiendo la necesidad de un servicio transparente, eficaz y garantizado.
                </p>

                <p class="pt-4 pe-5" style="text-align: justify;">
                    <strong>Mudy.cl </strong> con sus distintos Partners, lideran el mercado atendiendo procesos de
                    validación de datos y de evaluación constante de nuestros asociados, para brindar un <strong>
                        ¡SERVICIO DE EXCELENCIA!</strong>
                </p>

                <p class="pt-5 count-with-us"><strong>Puedes contar siempre con Mudy.cl</strong> </p>
            </span>

        </div>

    </div>
</div>