<div class="card-form shadow animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h1>Cotización de Flete</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
            <h5 class="text-blue pt-3">Inventario</h5>
        </div>
    </div>
    <hr style="color: rgb(173, 173, 173);">

    <div class="row">

        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="row">
                <div *ngFor="let v of vehicles" class="col-lg-3 col-md-3 col-sm-6 col-6 pb-2">
                    <div (click)="selectVehicle(v.name)" [ngClass]="[ selectedVehicle == v.name ? 'bg-blue' : '']"
                        class="card vehicle-card shadow">
                        <div class="square">
                            <img [src]="v.img" alt="">
                        </div>
                        <p class="pt-3">{{v.name}}</p>
                    </div>
                </div>

                <div class="col-12 pt-5">
                    <p>¿El traslado es ida y vuelta?</p>
                    <div class="row">
                        <div class="col-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Si
                                </label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-check pt-4">
                        <input class="form-check-input" type="checkbox" value="" checked>
                        <label class="form-check-label">
                            Acepta recibir comunicación por WhatsApp
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Descripción de Carga</label>
                <textarea class="form-control ps-2 mudy-textarea" rows="7"></textarea>
            </div>

            <div class="mb-3">
                
             <div class="container-file">
<div class="row">
    <div class="col-9">
      <label class="form-label">Foto de la carga</label>  
    </div>
    <div class="col-3">
        <div class="custom-input-file">
            <input type="file" class="input-file">
            +
        </div> 
    </div>
</div>

              

             </div>

                
            </div>

        </div>

    </div>


    <div class="row py-3">
        <div class="col-6 text-end">
            <button (click)="back()" class="btn btn-secondary mudy-btn p-2"><span class="px-4">Atrás</span></button>
        </div>
        <div class="col-6">
            <button (click)="next()" class="btn btn-blue mudy-btn p-2"><span class="px-4">Siguiente</span></button>
        </div>
    </div>
</div>