<div class="card  shadow animate__animated animate__fadeIn">
    <div class="p-4">
        <button (click)="closeModal()" class="btn btn-secondary close-btn">X</button>
    </div>

<div class="content">
  
    <div class="row">

        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <h1 class="text-blue">Cotización de Mudanza</h1>
            <hr style="color: rgb(173, 173, 173);">

            <div class="row">
                <div *ngFor="let s of sizes" class="col-lg-4 col-md-6 col-sm-6 col-6 text-center">
                    <div class="size-card">
                     
                    </div>
                    <div>{{s}}</div>
                </div>
            </div>



        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12" style="padding-top: 14px;">
            <h3 class="text-blue">Elementos</h3>
            <hr style="color: rgb(173, 173, 173);">

            <ul class="list-group list-group-flush">
                <li *ngFor="let e of elements" class="list-group-item d-flex justify-content-between align-items-center">
                 {{e}}
                  <span class="badge badge-primary badge-pill"><i class="bi bi-trash-fill text-blue trash-icon"></i></span>
                </li>                
              </ul>
           

        </div>

    </div>

    
    <div class="row p-btns">
        <div class="col-6 text-end">
            <button (click)="closeModal()" class="btn btn-secondary mudy-btn p-2"><span class="px-4">Cancelar</span></button>
        </div>
        <div class="col-6">
            <button (click)="closeModal()" class="btn btn-blue mudy-btn p-2"><span class="px-4">Guardar</span></button>
        </div>
    </div>

</div>
 

</div>
<div (click)="closeModal()" class="backdrop"></div>