.sm-text-gray{
    color: gray;
    font-size: 14px;
}

.vehicle-type{
    font-size: 14px;
}

.icon-write{
    font-size: 20px;
    cursor: pointer;
}

.icon-apps{
    font-size: 35px;
    padding-right: 10px;
    position: relative;
    bottom: 5px;
}