<div class="card-form shadow animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h1>Registro de Empresa</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 subtitle">
            <h5 class="text-blue pt-3">Resumen</h5>
        </div>
    </div>
    <hr style="color: rgb(173, 173, 173);">

    <h5 class="text-blue">
        Datos de la Empresa
    </h5>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre de la Empresa</li>
                <li class="list-group-item sm-text-gray">{{carrier.company_name}}</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Rut de la Empresa</li>
                <li class="list-group-item sm-text-gray">{{carrier.company_rut}}</li>
            </ul>
        </div>
    </div>
    <h5 class="text-blue">
        Datos del representante legal
    </h5>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre</li>
                <li class="list-group-item sm-text-gray">{{carrier.legal_first_name}}</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Apellido</li>
                <li class="list-group-item sm-text-gray">{{carrier.legal_last_name}}</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Rut</li>
                <li class="list-group-item sm-text-gray">{{carrier.legal_rut}}</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Teléfono</li>
                <li class="list-group-item sm-text-gray">{{carrier.legal_phone}}</li>
            </ul>
        </div>
    </div>
    <h5 class="text-blue">
        Datos Bancarios
    </h5>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre Titular</li>
                <li class="list-group-item sm-text-gray">{{carrier.account_holder}}</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Rut Titular</li>
                <li class="list-group-item sm-text-gray">{{carrier.legal_last_name}}</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Banco</li>
                <li class="list-group-item sm-text-gray">{{banks}}</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Tipo de Cuenta</li>
                <li class="list-group-item sm-text-gray">{{carrier.account_type}}</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nro. de Cuenta</li>
                <li class="list-group-item sm-text-gray">{{carrier.account_number}}</li>
            </ul>
        </div>
        
    </div>    

    <div class="row">
        <div class="col-6">
            <h5 class="text-blue">
                Vehículo(s)
            </h5>
        </div>
        <div *ngIf="!disableReg" class="col-6 subtitle">
            <button type="button" class="btn btn-blue round-bt" data-bs-dismiss="modal" (click)="newVehicle()">Agregar <i class="bi bi-plus-circle text-light ps-1"></i></button>  
        </div>
    </div>  

    <div *ngFor="let v of carrierView.vehicles; index as i" class="row">
        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item vehicle-type">Tipo de Vehículo</li>
                <li class="list-group-item sm-text-gray">{{v.nameTipo}}</li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Marca</li>
                <li class="list-group-item sm-text-gray">{{v.name}}</li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Modelo</li>
                <li class="list-group-item sm-text-gray">{{v.model}}</li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Patente</li>
                <li class="list-group-item sm-text-gray">{{v.patente}}</li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">mst³</li>
                <li class="list-group-item sm-text-gray">{{v.high*v.long*v.width}}</li>
            </ul>
        </div>
        <div class="col-lg-1 col-md-6 col-sm-6 col-6">
            <ul *ngIf="!disableReg" (click)="updateVehicle(v, i)" class="list-group list-group-flush">
                <li class="list-group-item">Editar</li>
                <li class="list-group-item sm-text-gray"><i class="bi bi-pencil-fill text-blue icon-write"></i>
            </ul>
        </div>
        <div class="col-lg-1 col-md-6 col-sm-6 col-6">
            <ul *ngIf="!disableReg" (click)="removeVehicle(i)" class="list-group list-group-flush">
                <li class="list-group-item">Eliminar</li>
                <li class="list-group-item sm-text-gray"><i class="bi bi-trash-fill text-blue icon-write"></i></li>
            </ul>
        </div>

        <hr style="background: rgb(209, 209, 209);" *ngIf="carrier.vehicles.length > 0">
    </div>

    <div *ngIf="!disableReg" class="row py-3">
        <div  class="col-6 text-end">
            <button (click)="back()" class="btn btn-secondary mudy-btn p-2"><span class="px-4">Atrás</span></button>
        </div>
        <div class="col-6">
            <button [disabled]="main.carrier.vehicles.length == 0 || disableReg" (click)="openTermsAndConditionsModal()" class="btn btn-blue mudy-btn p-2"><span
                    class="px-4">Registrar</span>
            </button>
        </div>

    </div>
    <div *ngIf="disableReg" class="row py-3">
        <div  class="col-6">
        </div>
        <div class="col-6 align-items-center">
            <button (click)="openPasarelaPagoModal()" class="btn btn-blue mudy-btn p-2"><span
                    class="px-4"> Pagar </span>
            </button>
        </div>
        <div  class="col-6">
        </div>
    </div>

</div>

<div class="modal fade" id="temrsAndConditionModal" #temrsAndConditionModal tabindex="-1">
    <div class="modal-dialog">        
        <div class="modal-content">
            <div class="modal-header">               
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
               <app-transportist-terms-conditions></app-transportist-terms-conditions>
            </div>
            <div class="modal-footer d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-secondary round-bt" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-blue round-bt" data-bs-dismiss="modal" (click)="submit()">Acepto</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="submitedModal" #submitedModal tabindex="-1">
    <app-register-success></app-register-success>
</div>

<div class="modal fade" id="pasarelaPagoModal" #pasarelaPagoModal tabindex="-1">    
    <div class="modal-dialog">        
        <div class="modal-content">
            <div class="modal-header"><h4>Payment</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-payment></app-payment>
            </div>            
        </div>
    </div>
</div>

<div class="modal fade" id="registerError" #registerError tabindex="-1">
    <div class="modal-dialog">        
        <div class="modal-content">
            <div *ngIf="msjRegisterError.length>0" class="modal-header">Error: {{msjRegisterError[0]}}               
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
                
                <ul *ngFor="let er of msjRegisterError; index as i" class="list-group list-group-flush">
                    
                    <li *ngIf="i>0" class="list-group-item sm-text-gray">{{er}}</li>
                </ul>               
            </div>
            <div class="modal-footer d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-secondary round-bt" data-bs-dismiss="modal">Cerrar</button>
                
            </div>
        </div>
    </div>
</div>