<div class="card-form shadow animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h1>Registro de Empresa</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
            <h5 class="text-blue pt-3">Resumen</h5>
        </div>
    </div>
    <hr style="color: rgb(173, 173, 173);">

    <h5 class="text-blue">
        Datos de la Empresa
    </h5>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre de la Empresa</li>
                <li class="list-group-item sm-text-gray">Texto de Ejemplo</li>              
              </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Rut de la Empresa</li>
                <li class="list-group-item sm-text-gray">Texto de Ejemplo</li>              
              </ul>
        </div>
    </div>
    <h5 class="text-blue">
        Datos del representante legal
    </h5>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre</li>
                <li class="list-group-item sm-text-gray">Texto de Ejemplo</li>              
              </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Apellido</li>
                <li class="list-group-item sm-text-gray">Texto de Ejemplo</li>              
              </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Rut</li>
                <li class="list-group-item sm-text-gray">Texto de Ejemplo</li>              
              </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Teléfono</li>
                <li class="list-group-item sm-text-gray">Texto de Ejemplo</li>              
              </ul>
        </div>
    </div>


    <h5 class="text-blue">
        Vehículo(s)
    </h5>

    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item vehicle-type">Tipo de Vehículo</li>
                <li class="list-group-item sm-text-gray">Texto de Ejemplo</li>              
              </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Marca</li>
                <li class="list-group-item sm-text-gray">Texto de Ejemplo</li>              
              </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Modelo</li>
                <li class="list-group-item sm-text-gray">Texto de Ejemplo</li>              
              </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Patente</li>
                <li class="list-group-item sm-text-gray">Texto de Ejemplo</li>              
              </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">mst³</li>
                <li class="list-group-item sm-text-gray">0000</li>              
              </ul>
        </div>
        <div class="col-lg-1 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ㅤ</li>
                <li class="list-group-item sm-text-gray"><i class="bi bi-pencil-fill text-blue icon-write"></i>              
              </ul>
        </div>
        <div class="col-lg-1 col-md-6 col-sm-12 col-12">      
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ㅤ</li>
                <li class="list-group-item sm-text-gray"><i class="bi bi-trash-fill text-blue icon-write"></i></li>              
              </ul>
        </div>
    </div>

    <div class="row py-3">
        <div class="col-6 text-end">
            <button (click)="back()" class="btn btn-secondary mudy-btn p-2"><span class="px-4">Atrás</span></button>
        </div>
        <div class="col-6">
            <button (click)="submit()" class="btn btn-blue mudy-btn p-2"><span class="px-4">Registrar</span></button>
        </div>
    </div>
</div>