<div class="animate__animated animate__fadeIn">

    <div (click)="showButtonContent('')" class="square">
        <img src="../../../assets/images/6.jpg" alt="">
    </div>


        <div class="center-el">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 col-circle">
                    <div class="backdrop" *ngIf="serviceType == 'mudanza'"></div>
                    <div *ngIf="serviceType == 'mudanza'" class="mudanza-detail">
                        <p class="p-mudanza">Necesito trasladar todos los enceres de mi casa o departamento, dentro o fuera de mi región.</p>
                        <button (click)="goTo('/moving')" class="btn btn-light btn-mudanza">COTIZAR</button>
                    </div>
                    <div (click)="showButtonContent('mudanza')"
                        [ngClass]="[ serviceType == 'mudanza' ? 'mudanzaclick' : 'mudanza']">
                    </div>
                </div>
                <div  class="col-lg-6 col-md-12 col-sm-12 col-12 col-circle">
                    <div *ngIf="serviceType == 'flete'" class="flete-detail">
                        <p class="p-flete">Necesito trasladar solounos muebles (hasta 5), materiales o bultos,
                            transporte de cargar rápida.</p>
                        <button class="btn btn-light btn-flete">COTIZAR</button>
                    </div>
                    <div (click)="showButtonContent('flete')"
                        [ngClass]="[ serviceType == 'flete' ? 'fleteclick' : 'flete']"></div>
                </div>
            </div>
        </div>
  
</div>