<div class="card-form shadow animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h1>Registro de Empresa</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
            <h5 class="text-blue pt-3">Datos Bancarios</h5>
        </div>
    </div>
    <hr style="color: rgb(173, 173, 173);">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Nombre del Titular</label>
                <input type="text" class="form-control ps-2 mudy-input" placeholder="Rodolfo Borges">
            </div>    
        </div>
    
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Rut del Titular</label>
                <input type="tel" class="form-control ps-2 mudy-input" placeholder="25342354-7">
            </div>           
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Banco</label>
                <input type="text" class="form-control ps-2 mudy-input" placeholder="Banco de Chile">
            </div>    
        </div>
    
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Tipo de Cuenta</label>
                <input type="text" class="form-control ps-2 mudy-input" placeholder="Corriente">
            </div>           
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Número de Cuenta</label>
                <input type="number" class="form-control ps-2 mudy-input" placeholder="0000 0000 0000 0000">
            </div>           
        </div>
        
    
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control ps-2 mudy-input" placeholder="representantelegal@gmail.com">
            </div>           
        </div>
    </div>


<div class="row py-3">
    <div class="col-6 text-end">
        <button (click)="back()" class="btn btn-secondary mudy-btn p-2"><span class="px-4">Atrás</span></button>
    </div>
    <div class="col-6">
        <button (click)="next()" class="btn btn-blue mudy-btn p-2"><span class="px-4">Siguiente</span></button>
    </div>
</div>
</div>